<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="menu_delivery_root"
              name="Livraison"
              sequence="10"/>

    <menuitem id="menu_delivery_deliveryman"
              name="Livreurs"
              parent="menu_delivery_root"
              sequence="10"/>
</odoo>